<div class="container-fluid">
    <app-barra titulo="{{titulo}}" [elementos]="botones"></app-barra>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <app-table [cabeceras]="headers" [respuesta]="productos"
                            (cambioPagina)="buscarCambiarPagina($event)" (cambiarBusqueda)="buscarCambiarPagina($event)"
                            (accionEjecutada)="manejarAccion($event)" [accionesDisponibles]="accionesResumen">
                        </app-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal-confirmacion [titulo]="'Eliminar Producto'" [tamano]="'medium'" [isVisible]="modalConfirmacion"
    (confirmarModal)="confirmarEliminacion()" (cerrarModal)="cerrarModalConfirmacion()">
    <p>¿Está seguro que desea eliminar el producto <strong>{{ productoNombre}}</strong>?</p>
</app-modal-confirmacion>