<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between mb-2 mt-2">
            <h4 class="mb-0 font-size-18">{{ titulo }}</h4>
            <div class="page-title-right">
                <div class="d-flex flex-wrap gap-1">
                    @for (elemento of elementos; track $index) { @if(elemento.visible){
                    <button type="button" [disabled]="elemento.deshabilitado"
                        class="btn btn-primary btn-sm {{ elemento.clasesCss }} d-flex align-items-center"
                        (click)="elemento?.tipoAccion()">
                        @if(elemento.icono){<mat-icon>{{elemento.icono}}</mat-icon>}
                        @if(!elemento.soloIcono){
                        <span class="ms-2">{{ elemento.etiqueta }}</span>
                        }
                    </button>
                    } }
                </div>
            </div>
        </div>
    </div>
</div>